# Ignore the virtual environment
venv/
.venv/
env/
.vscode/
.VSCodeCounter/

# Ignore project folder
/dataset/
/pretrained/
/checkpoints/
/config/
/script/
/test/
/output/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# packaging / build artifacts
*.egg-info/
dist/
build/