# Ignore the virtual environment
venv/
.venv/
env/
.vscode/

# Ignore large folder
dataset/
pretrained/
checkpoints/
config/
scripts/
tests/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# packaging / build artifacts
*.egg-info/
dist/
build/