# arguments for dataset
dataset: ISPRS-Postdam
in_channels: 3
nclass: 6
crop_size: 252
nsample: 3000
root_dir: dataset/ISPRS-Postdam
train_split: dataset/ISPRS-Postdam/splits/train.csv
val_split: dataset/ISPRS-Postdam/splits/val.csv
class_dict: config/ISPRS-Postdam/color.yaml

# arguments for training
epochs: 60
batch_size: 2 # per GPU x 4 

lr: 0.000005
lr_multi: 40.0
criterion:
  name: CELoss
  kwargs:
    ignore_index: 255
    # thresh: 0.7
    # min_kept: 200000
conf_thresh: 0.95
eval_mode: sliding_window

# arguments for model
model: dpt
backbone: dinov2_base
lock_backbone: False
model_name: dpt_dinov2_base_isprs_postdam

# arguments for augmentations
augmentations:
  train:
    - name: RandomResizedCrop
      kwargs:
        size: [252, 252]
        scale: [0.08, 1]
        ratio: [0.75, 1.33]

    - name: HorizontalFlip
      kwargs:
        p: 0.5

    - name: VerticalFlip
      kwargs:
        p: 0.3

    - name: RandomRotate90
      kwargs:
        p: 0.5

    - name: OneOf
      kwargs:
        transforms:
          - name: ColorJitter
            kwargs:
              brightness: 0.2
              contrast: 0.2
              saturation: 0.2
              hue: 0.1
              p: 1.0
          - name: RandomBrightnessContrast
            kwargs:
              brightness_limit: 0.2
              contrast_limit: 0.2
              p: 1.0
        p: 0.5

    # - name: GaussianBlur
    #   kwargs:
    #     blur_limit: 3
    #     p: 0.3
    
    - name: Normalize
      kwargs:
        mean: [0.485, 0.456, 0.406]
        std: [0.229, 0.224, 0.225]

    - name: ToTensorV2
      kwargs: {}

  val:
    - name: Normalize
      kwargs:
        mean: [0.485, 0.456, 0.406]
        std: [0.229, 0.224, 0.225]
    
    - name: ToTensorV2
      kwargs: {}