define: &ignore_index 255
define: &crop_size 252

# arguments for dataset
dataset: ISPRS-Postdam
crop_size: *crop_size
nsample: 3000
nclass: 5
in_channels: 3
ignore_index: *ignore_index
root_dir: dataset/ISPRS-Postdam
train_split: dataset/ISPRS-Postdam/splits/train.csv
val_split: dataset/ISPRS-Postdam/splits/val.csv
test_split: dataset/ISPRS-Postdam/splits/test.csv
metadata: config/ISPRS-Postdam/metadata.yaml

# arguments for data loader, tweak if training is slow or low gpu utilization
batch_size: 4  # Can use larger batch with smaller models
num_workers_train: 6  # default 4, Number of workers for training dataloader
num_workers_val: 2  # default 2, Number of workers for validation dataloader
prefetch_factor: 2 # Number of samples loaded in advance by each worker
persistent_workers: true
pin_memory: true

# arguments for training
method: supervised
epochs: 60
lr: 0.000005 # learning rate for backbone
lr_multi: 40.0 # learning rate multiplier for decoder and head
criterion:
  name: CELoss
  kwargs:
    ignore_index: *ignore_index
    # thresh: 0.7
    # min_kept: 200000
conf_thresh: 0.95
eval_mode: sliding_window

# arguments for model
model: dpt  # Options: unet, unet++, deeplabv3, deeplabv3+, fpn, pspnet, pan, linknet, manet, dpt
model_name: dpt_dinov2_small_isprs_postdam
lock_backbone: false  # Train encoder
model_kwargs:
  backbone: dinov2_small # Options: dpt_base, dpt_large, dpt_small
  
# arguments for transformations, Refer to Albumentations library for more details
train:
  - name: RandomResizedCrop
    kwargs:
      size: [*crop_size, *crop_size]
      scale: [0.08, 1]
      ratio: [0.75, 1.33]

  - name: HorizontalFlip
    kwargs:
      p: 0.5

  - name: VerticalFlip
    kwargs:
      p: 0.3

  - name: RandomRotate90
    kwargs:
      p: 0.5

  - name: OneOf
    kwargs:
      transforms:
        - name: ColorJitter
          kwargs:
            brightness: 0.2
            contrast: 0.2
            saturation: 0.2
            hue: 0.1
            p: 1.0
        - name: RandomBrightnessContrast
          kwargs:
            brightness_limit: 0.2
            contrast_limit: 0.2
            p: 1.0
      p: 0.5

  # - name: GaussianBlur
  #   kwargs:
  #     blur_limit: 3
  #     p: 0.3
  
  - name: Normalize
    kwargs:
      mean: [0.485, 0.456, 0.406]
      std: [0.229, 0.224, 0.225]

  - name: ToTensorV2
    kwargs: {}

inference:
  - name: Normalize
    kwargs:
      mean: [0.485, 0.456, 0.406]
      std: [0.229, 0.224, 0.225]
  
  - name: ToTensorV2
    kwargs: {}