define: &ignore_index 255

# arguments for dataset
dataset: ISPRS-Postdam
crop_size: 252
nsample: 3000
nclass: 5
in_channels: 3
ignore_index: *ignore_index
root_dir: dataset/ISPRS-Postdam
train_split: dataset/ISPRS-Postdam/splits/train.csv
val_split: dataset/ISPRS-Postdam/splits/val.csv
test_split: dataset/ISPRS-Postdam/splits/test.csv
metadata: config/ISPRS-Postdam/metadata.yaml
transform: config/ISPRS-Postdam/transform.yaml

# arguments for data loader, tweak if training is slow or low gpu utilization
batch_size: 8  # Can use larger batch with smaller models
num_workers_train: 6  # default 4, Number of workers for training dataloader
num_workers_val: 2  # default 2, Number of workers for validation dataloader
prefetch_factor: 2 # Number of samples loaded in advance by each worker
persistent_workers: true
pin_memory: true

# arguments for training
epochs: 60
lr: 0.000005 # learning rate for backbone
lr_multi: 40.0 # learning rate multiplier for decoder and head
criterion:
  name: CELoss
  kwargs:
    ignore_index: *ignore_index
    # thresh: 0.7
    # min_kept: 200000
conf_thresh: 0.95
eval_mode: sliding_window

# arguments for model
model: dpt  # Options: unet, unet++, deeplabv3, deeplabv3+, fpn, pspnet, pan, linknet, manet, dpt
backbone: dinov2_small  # Options: resnet50, efficientnet-b4, mobilenet_v2, etc. (see smp docs)
pretrained: true  # Use ImageNet pretrained weights
lock_backbone: false  # Train encoder
model_name: dpt_dinov2_small_isprs_postdam