# arguments for dataset
dataset: ISPRS-Postdam
in_channels: 3
nclass: 6
crop_size: 256
nsample: 3000
root_dir: dataset/ISPRS-Postdam
train_split: dataset/ISPRS-Postdam/splits/train.csv
val_split: dataset/ISPRS-Postdam/splits/val.csv
class_dict: config/ISPRS-Postdam/color.yaml

# arguments for training
epochs: 60
batch_size: 8  # Can use larger batch with smaller models
num_workers_train: 6  # Number of workers for training dataloader
num_workers_val: 2  # Number of workers for validation dataloader
lr: 0.0001
lr_multi: 10.0
criterion:
  name: CELoss
  kwargs:
    ignore_index: 255
conf_thresh: 0.95
eval_mode: sliding_window

# arguments for model
model: deeplabv3  # Options: unet, unet++, deeplabv3, deeplabv3+, fpn, pspnet, pan, linknet, manet, dpt
backbone: resnet50  # Options: resnet50, efficientnet-b4, mobilenet_v2, etc. (see smp docs)
pretrained: true  # Use ImageNet pretrained weights
lock_backbone: false  # Train encoder
model_name: deeplabv3_resnet50_isprs_postdam
