# arguments for transformations, Refer to Albumentations library for more details
train:
  - name: RandomResizedCrop
    kwargs:
      size: [*crop_size, *crop_size]
      scale: [0.08, 1]
      ratio: [0.75, 1.33]

  - name: HorizontalFlip
    kwargs:
      p: 0.5

  - name: VerticalFlip
    kwargs:
      p: 0.3

  - name: RandomRotate90
    kwargs:
      p: 0.5

  - name: OneOf
    kwargs:
      transforms:
        - name: ColorJitter
          kwargs:
            brightness: 0.2
            contrast: 0.2
            saturation: 0.2
            hue: 0.1
            p: 1.0
        - name: RandomBrightnessContrast
          kwargs:
            brightness_limit: 0.2
            contrast_limit: 0.2
            p: 1.0
      p: 0.5

  # - name: GaussianBlur
  #   kwargs:
  #     blur_limit: 3
  #     p: 0.3
  
  - name: Normalize
    kwargs:
      mean: [0.485, 0.456, 0.406]
      std: [0.229, 0.224, 0.225]

  - name: ToTensorV2
    kwargs: {}

inference:
  - name: Normalize
    kwargs:
      mean: [0.485, 0.456, 0.406]
      std: [0.229, 0.224, 0.225]
  
  - name: ToTensorV2
    kwargs: {}